input{
    border: none;
}

#submit{
    padding: 8px;
    margin-left: 10px;
    color: white;
    background-color: cadetblue;
    border: none;
}

#display{
    background-color: dodgerblue;
    padding: 1.5rem;
    margin-top: 35px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul{
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
li{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
span{
    font-size: 2rem;
}